@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.loginContainer {
  width: 80%;
  height: 80vh;
  border-radius: 22px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSideLogin {
  height: 80vh;
  width: 32%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.rightSideLogin {
  height: 80vh;
  width: 68%;
  background-color: rgb(236, 234, 234);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logChampions {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: rgb(27, 27, 141);
}
.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 62px;
}

.logBet {
  font-family: 'Bangers', cursive;
  font-size: 32px;
  color: #ffa500;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
